body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
    text-align: center;
    background-color: aqua;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stats-container{
    margin: 20px;
    border: double darkblue;
    height: auto;
    min-width: auto;
    position: relative;
}

.counter{
    font-size: xx-large;
}

.icon{
    size: 50px;
    transform: translate3d(90%);
}